<!-- Copyright (c) Microsoft Corporation.
Licensed under the MIT license. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heifer Test Report</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="logo 2.ico" type="image/x-icon">

</head>

<body>
    @* <header class="embed-container col-lg-12 col-md-12 col-sm-12 shadow">
        <p>
            Power BI Embedded Sample
        </p>
    </header> *@
    <main class="row">
        <section id="report-container" class="embed-container">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container">
        </section>
    </main>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>